.container {
  max-width: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.displayInput {
  width: 335px;
  height: 100px;
  border-radius: 1rem;
  outline: none;
  border: none;
  background-color: rgba(236, 56, 56, 0.46);
  font-size: 4rem;
  text-align: right;
  padding-right: 1rem;
}

.numbers {
  display: flex;
  flex-direction: column;
  gap: 0.438rem;
}

.sectionButtons {
  display: flex;
  gap: 0.438rem;
}

.numberButtons {
  border-radius: 8px;
  cursor: pointer;
  border: none;
  outline: none;
  width: 86.51px;
  height: 71px;
  font-size: 32px;
  background-color: rgba(77, 53, 53, 0.3);
  color: #fff;
  transition: ease-in-out 0.2s;
}

.numberButtons:hover {
  background-color: rgba(77, 53, 53, 0.7);
}

.operationButtons {
  border-radius: 8px;
  cursor: pointer;
  border: none;
  outline: none;
  width: 62.39px;
  height: 71px;
  font-size: 32px;
  background-color: rgba(17, 55, 19, 0.3);
  color: #fff;
  transition: ease-in-out 0.2s;
}

.operationButtons:hover {
  background-color: rgba(17, 55, 19, 0.7);
}

.zeroButton {
  width: 269px;
  height: 71px;
}

.resultButton {
  border-radius: 8px;
  cursor: pointer;
  border: none;
  outline: none;
  width: 269px;
  height: 71px;
  font-size: 40px;
  background: rgba(17, 55, 19, 0.45);
  color: #fff;
  transition: ease-in-out 0.2s;
}

.resultButton:hover {
  background: rgba(17, 55, 19, 0.85);
}
