.container {
  max-width: 90%;
  display: flex;
  align-items: center;
  flex-direction: center;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator {
  font-size: 7rem;
}

.separatorSmall {
  font-size: 2rem;
}

.hours,
.minutes {
  font-size: 9rem;
}

.seconds {
  font-size: 3rem;
}

.timerActions {
  display: flex;
  gap: 0.5rem;
  transition: ease-in-out 0.3s;
}

.playOrPauseBtn {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.playOrPauseBtn:hover {
  transform: scale(1.1);
}
.setTimerValues {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inputTimerSet {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.inputTimerSet h4 {
  width: 50px;
  letter-spacing: 0.4rem;
  font-size: 2rem;
  font-weight: 400;
  text-align: right;
  font-family: "Jersey 25", sans-serif;
}

.stopBtn {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: #bf0000;
  opacity: 0.2;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.stopBtn:hover {
  transform: scale(1.1);
}

.iconInsideTheButton {
  color: #fff;
}
