.container {
  max-width: 90%;
  display: flex;
  align-items: center;
  flex-direction: center;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator {
  font-size: 7rem;
}

.separatorSmall {
  font-size: 2rem;
}

.hours,
.minutes {
  font-size: 9rem;
}

.seconds {
  font-size: 3rem;
}

.timerActions {
  display: flex;
  gap: 0.5rem;
}

.playOrPauseBtn {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: rgba(0, 128, 0, 0.89);
  cursor: pointer;
}

.playOrPauseBtn:hover {
  background-color: rgba(0, 128, 0, 1);
}

.setTimerValues {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inputTimerSet {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.inputTimerSet h4 {
  width: 50px;
  letter-spacing: 0.4rem;
  font-size: 2rem;
  font-weight: 400;
  text-align: right;
  font-family: "Jersey 25", sans-serif;
}

.stopBtn {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: rgba(255, 0, 0, 0.89);
  opacity: 0.2;
  cursor: pointer;
}

.stopBtn:hover {
  background-color: rgba(255, 0, 0, 1);
}

.iconInsideTheButton {
  color: #fff;
}
