* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  /* font-family: "Gemunu Libre", sans-serif; */
  background: #d9d9d9;
}
